html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 120%;
    color: white;
}
#container {
    display: flex;
    height: 100%;
    --start-display: flex;
    --redGreen-display: none;
    --redGreen-background: green;
    --percent-green: 0%;
    --percent-red: 0%;
}

#start {
    display: var(--start-display);
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#startButton {
    font-size: xx-large;
}
#settingsButton {
    font-size: x-large;
    margin-top: 1em;
}

#redGreen {
    display: var(--redGreen-display);
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background: var(--redGreen-background);
}
#timeNow {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
#timeNow .seconds {
    font-size: 0.5em;
}
#redGreen .totals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}
#redGreen .totals > div {
    padding: 3px 7px;
    border-radius: 5px;
}
#redGreen .totals .green {
    background: green;
}
#redGreen .totals .red {
    background: red;
}

#percents {
    position: relative;
    margin-top: 2em;
    font-size: 50%;
}
#percents .greenText {
    position: absolute;
    opacity: 0.5;
}
#percents .redText {
    position: absolute;
    right: 0;
    opacity: 0.5;
}
#percents .greenBar {
    position: absolute;
    background: green;
    width: var(--percent-green);
    height: 1em;
}
#percents .redBar {
    position: absolute;
    right: 0;
    background: red;
    width: var(--percent-red);
    height: 1em;
}